@page
@model WebApplication1.Pages.Orphanss.DetailsModel

<div>
    <h4>Orphans</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orphans.IdStudent)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Orphans?.IdEntryOrphans">Изменить</a> |
    <a asp-page="./Index">Вернуться к таблице</a>
</div>
