@page
@model WebApplication1.Pages.Groups.DetailsModel

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Куратор
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.IdCurator)
        </dd>
        <dt class="col-sm-2">
            Группа
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.NameGroup)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Group?.IdGroup">Изменить</a> |
    <a asp-page="./Index">Вернуться к таблице</a>
</div>
