@page
@model WebApplication1.Pages.LiveInAHostels.DetailsModel

<div>
    <h4>LiveInAHostel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LiveInAHostel.IdStudent)
        </dd>
        <dt class="col-sm-2">
            Номер комнаты
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LiveInAHostel.NumberRoom)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LiveInAHostel?.IdEntryLiveInAHostel">Изменить</a> |
    <a asp-page="./Index">Вернуться к таблице</a>
</div>
