@page
@model WebApplication1.Pages.LiveInAHostels.EditModel

<h4>LiveInAHostel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LiveInAHostel.IdEntryLiveInAHostel" />
            <div class="form-group">
                <label asp-for="LiveInAHostel.IdStudent" class="control-label"></label>
                <input asp-for="LiveInAHostel.IdStudent" class="form-control" />
                <span asp-validation-for="LiveInAHostel.IdStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiveInAHostel.NumberRoom" class="control-label"></label>
                <input asp-for="LiveInAHostel.NumberRoom" class="form-control" />
                <span asp-validation-for="LiveInAHostel.NumberRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
