@page
@model WebApplication1.Pages.Authentications.EditModel

<h4>Authentication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Authentication.IdCurator" class="control-label">Куратор</label>
                <input asp-for="Authentication.IdCurator" class="form-control" />
                <span asp-validation-for="Authentication.IdCurator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authentication.Login" class="control-label">Логин</label>
                <input asp-for="Authentication.Login" class="form-control" />
                <span asp-validation-for="Authentication.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authentication.Password" class="control-label">Пароль</label>
                <input asp-for="Authentication.Password" class="form-control" />
                <span asp-validation-for="Authentication.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authentication.IdUser" class="control-label">Тип пользователя</label>
                <input asp-for="Authentication.IdUser" class="form-control" />
                <span asp-validation-for="Authentication.IdUser" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к таблице</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
