@page
@model WebApplication1.Pages.CuratorObservationSheets.DetailsModel

<div>
    <h4>CuratorObservationSheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CuratorObservationSheet.IdStudent)
        </dd>
        <dt class="col-sm-2">
            Характеристика
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CuratorObservationSheet.BriefDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CuratorObservationSheet?.IdCuratorObservationSheet">Изменить</a> |
    <a asp-page="./Index">Вернуться к таблице</a>
</div>
