@page
@model WebApplication1.Pages.AccountingForClassHoursByStudentss.DetailsModel

<div>
    <h4>AccountingForClassHoursByStudents</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountingForClassHoursByStudents.IdStudent)
        </dd>
        <dt class="col-sm-2">
            Дата классного часа
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountingForClassHoursByStudents.ClassHourDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AccountingForClassHoursByStudents?.IdAccountingForClassHoursByStudents">Изменить</a> |
    <a asp-page="./Index">Вернуться к таблице</a>
</div>
