@page
@model WebApplication1.Pages.AccountingForClassHoursByStudentss.EditModel

<h4>AccountingForClassHoursByStudents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountingForClassHoursByStudents.IdAccountingForClassHoursByStudents" />
            <div class="form-group">
                <label asp-for="AccountingForClassHoursByStudents.IdStudent" class="control-label">Студент</label>
                <input asp-for="AccountingForClassHoursByStudents.IdStudent" class="form-control" />
                <span asp-validation-for="AccountingForClassHoursByStudents.IdStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountingForClassHoursByStudents.ClassHourDate" class="control-label">Дата классного часа</label>
                <input asp-for="AccountingForClassHoursByStudents.ClassHourDate" class="form-control" />
                <span asp-validation-for="AccountingForClassHoursByStudents.ClassHourDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к таблице</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
