@page
@model WebApplication1.Pages.Courses.DetailsModel

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Номер курса
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.NumberCourse)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course?.idCourse">Изменить</a> |
    <a asp-page="./Index">Вернуться к таблице</a>
</div>
