@page
@model WebApplication1.Pages.FromPoorFamiliess.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FromPoorFamilies</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FromPoorFamilies.IdStudent)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FromPoorFamilies.IdEntryFromPoorFamilies" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к таблице</a>
    </form>
</div>
