@page
@model WebApplication1.Pages.FromPoorFamiliess.IndexModel

<p>
    <a asp-page="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Студент
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FromPoorFamilies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdStudent)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdEntryFromPoorFamilies">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.IdEntryFromPoorFamilies">Просмотр</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdEntryFromPoorFamilies">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
